h1{
    text-align: center;
    color: crimson;
    font-size: 40px;
}
h2{
    margin-left: 10px;
    color: slateblue;
    margin-top: 50px;
}
img{
    width: 350px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
a{
    color: blueviolet;
    text-decoration: none;
    font-size: 24px;
    padding: 0.15px;
}

table{
    margin-left: 30px;
}
table, tr, td{
    border: 1px solid black;
    }
    form{
        width: max-content;
        position: relative;
        left: 50%;
        transform:translate(50) ;
        transform: translate(-50%);
        display: flex;
        gap: 15px;
        flex-direction: column;
        padding: 20px;
        border: 1px solid steelblue;
        border-radius: 8px;
        
    }